.prosesize-highlight {
	background-color: yellow;
}

.prosesize-portlet-link-edit-mode:first-child {
	color:black;
}

.prosesize-special-template {
	background-color: none;
}

#document-size {
	margin-top: 0.5em;
}
