/*  _____________________________________________________________________________
 * |                                                                             |
 * |                    === WARNING: GLOBAL GADGET FILE ===                      |
 * |                  Changes to this page affect many users.                    |
 * | Please discuss changes on the talk page or on [[WT:Gadget]] before editing. |
 * |_____________________________________________________________________________|
 *
 */
 .prosesize-highlight {
	background-color: yellow;
}

.prosesize-portlet-link-edit-mode:first-child {
	color:black;
}

.prosesize-special-template {
	background-color: none;
}

#document-size {
	margin-top: 0.5em;
}
